<ion-view title="Tab 标题">
  <ion-content class="has-header">
    <!-- ion-refresher -->
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <!-- ion-refresher end -->

    <!-- ion-list start -->
    <ion-list>
      <ion-item ng-repeat="item in items">
        
      </ion-item>
    </ion-list>
    <!-- ion-list end -->

    <ion-infinite-scroll
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
    
  </ion-content>
</ion-view>
